<%- include('partials/header.ejs'); -%>

<div class="container">
  <!-- Do now -->
  <section>
    <p class="alert">added</p>
    <h3>DO THIS</h3>
    <div class="form-control">
      <input type="text" id="todo" placeholder="do it" />
      <button type="submit" class="submit-btn">Add</button>
    </div>
  </section>

  <!--  Bag -->
  <section>a</section>
</div>

<script></script>
<%- include('partials/footer.ejs'); -%>
