* {
    box-sizing: border-box;
}

:root {
    --primary-color: #007bff;
    --secondary-color: #ff6600;
    --border-radius: 10px;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    
    min-height: auto;
    margin: 0;
}

h1, h2, h3, p, ul, ol {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

.container {
    color: #333;
    background: linear-gradient( 90deg, rgba(253, 244, 255, 1) 0%, rgba(255, 190, 242, 1) 100%, rgba(244, 133, 221, 1) 100% );
    box-shadow: var(--light-shadow);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
}

section {
    background-color: #ffffff;
    width: 100%;
    max-width: 600px;
    min-height: 700px;

    border-radius: var(--border-radius);
}

@media (max-width: 768px) {}
@media (min-width: 768px) {}
